 * {
     margin: 0;
     padding: 0;
 }

 body {
     width: 100%;
     display: flex;

 }

 .container {
     border: 2px solid black;
     padding: 0px;

 }

 .main {
     width: 80%;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     margin: auto;
 }

 header {
     text-align: left;
     background-color: black;
     padding: 10px;
     margin-bottom: 20px;
 }

 h1 {
     font-family: 'Lato', sans-serif;
     font-size: 72px;
     color: white;
 }

 h6 {
     font-family: 'Roboto Mono', monospace;
     font-size: 16px;
 }

 .fa-tshirt {
     width: 150px;
     border-radius: 50%;
     background-color: white;
     padding: 4px;
     margin: 20px;
 }


 img {
     width: 220px;
     height: 200px;
     border: 1px solid rgb(2, 2, 32);
 }

 .items {
     padding: 20px;
     margin: auto;
 }

 footer {
     font-family: 'Lato', sans-serif;
     font-size: 18px;
     font-style: italic;
     text-align: center;
     background-color: black;
     color: white;
     padding: 10px;
     margin-top: 20px;
 }

 #policy {
     color: yellow;

 }